h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
}

tr:nth-child(2) td {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

tr td:nth-child(2) {
    border-left: 1px black solid;
    border-right: 1px black solid;
}